body {
    overflow-x: hidden;
    width: 100%;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background: #eee;
    min-height: 550px;
    background-attachment: fixed;
}

.bg {
    min-height: 540px;
}

.bg1 {
    background: url(../image/bg.jpg);
    min-height: 535px;
}

@font-face {
    font-family: 'typo';
    src: url('../fonts/typo.ttf');
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
}

.panel {
    border-color: #eee;
    margin: 40px;
    padding: 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title {
    font-family: 'typo';
}

header {
    background: #202020;
    height: 70px;
}

.logo {
    font-family: 'typo';
    font-size: 35px;
    color: #ffbb33;
    margin: 15px;
}

.title1 {
    font: 16px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.sub1 {
    color: #202020;
    background: orange;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
}

.sub {
    width: 100%;
    background-color: #9acd32;
    font-size: 20px;
    padding: 2px;
    margin-top: 15px;
    margin-right: 20px;
}

.sub:hover {
    color: #fff;
}

.footer {
    font-size: 15px;
    text-align: center;
    border-top: 1px solid;
    border-color: #323232;
    background-color: #202020;
}

.footer a {
    margin: 25px;
    color: orange;
    text-decoration: none;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.footer a:hover {
    text-decoration: none;
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
}

.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 20px;
}

.log1 {
    font: 15px 'Ubuntu', sans-serif;
    color: orange;
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 60px;
    margin-left: 5px;
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
    text-decoration: none;
}