body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-box {
    width: 360px;
    margin: 90px auto 0 auto;
}

.bg-black {
    background-color: #222222 !important;
}

.form-box .header {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #3d9970;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-top: 5px;
}

.form-box .body,
.form-box .footer {
    padding: 10px 20px;
    background: #fff;
    color: #444;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.form-box .body>.form-group,
.form-box .footer>.form-group {
    margin-top: 20px;
}

.form-box .body>.form-group>input,
.form-box .footer>.form-group>input {
    border: 1px solid #c6c6c7;
}

.form-box .footer {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-box .body,
.form-box .footer {
    padding: 10px 20px;
    background: #fff;
    color: #444;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.icon {
    font-size: 40px;
    position: absolute;
    right: 25px;
}

.small-box {
    display: flex;
    position: relative;
    padding: 15px;
    border-radius: 5px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: none;
}

::placeholder {
    font-size: 14px;
    color: #444;
}

ul.account_info {
    list-style: none;
}

ul.account_info p {
    font-weight: bold;
}

ul.account_info li {
    display: flex;
}

ul.account_info li span {
    margin-left: 10px;
    color: #333;
}

#sidenav {
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: #101010;
    overflow-y: scroll;
}

#sidenav.open {
    left: -300px;
}

#sidenav .logo {
    width: 100%;
    padding: 10px;
    background: #101010;
    display: block;
}

#sidenav .logo a {
    color: #dadada;
    font-size: 28px;
    text-align: center;
}

#sidenav .logo a.nav-icon {
    display: none;
}

#sidenav .menu {
    position: static;
}

#sidenav .menu ul {
    list-style: none;
    background: #101010;
    padding: 10% 0;
    margin: 0;
}

#sidenav .menu ul li {
    padding: 6px 14%;
}

#sidenav .menu ul li.active {
    border-left: solid 4px red;
}

#sidenav .menu ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    display: block;
}

#sidenav .menu ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#sidenav .menu ul li a.logout:hover {
    color: red;
}

#sidenav .menu ul li ul {
    list-style: none;
    margin: 10px auto 0;
    padding: 10px 15px;
    border-top: solid 1px rgba(255, 255, 255, 0.08);
    border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}

a:hover {
    text-decoration: none;
}

.menu ul li ul li {
    padding: 6px 3px;
}

#sidenav .menu ul li ul li a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.btn.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.btn.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #f7f7f4!important;
    margin: 5px;
}

.marginBottom15 {
    margin-bottom: 15px;
}

.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.app.container-fluid {
    padding: 0;
}

.app.container-fluid .row {
    /* padding: 0; */
    margin: 0;
}

.app.container-fluid .row .col-lg-2,
.app.container-fluid .row .col-lg-9 {
    padding: 0;
}

.exam-icon {
    font-size: 14px;
}

.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box .box-header {
    position: relative;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px solid #f4f4f4;
    color: #444;
}

.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.box .box-header>.fa,
.box .box-header>.glyphicon,
.box .box-header>.ion,
.box .box-header .box-title {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    float: left;
    cursor: default;
}

.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}

.warning {
    border: 1px solid red!important;
}

.btn.btn-danger {
    background-color: #f56954;
    border-color: #f4543c;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: none;
}

@media (max-width: 768px) {
    #sidenav {
        width: 100%;
        height: 60px;
        background: none;
    }
    #sidenav .logo {
        padding: 10px 20px;
    }
    #sidenav .logo a {
        font-size: 20px;
    }
    #sidenav .logo a.nav-icon {
        display: inline;
    }
    #sidenav .menu {
        display: none;
    }
    #sidenav .menu.open {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        display: block !important;
    }
    #sidenav .menu ul {
        border-top: solid 1px #333;
    }
    #sidenav .menu ul li {
        padding: 6px 5%;
    }
}